node_modules
dist

## tmp 
tmp/avatar/*
!tmp/avatar/.gitkeep
tmp/carImages/*
!tmp/carImages/.gitkeep

README.md

## yarn 
yarn-error.log
yarn.lock


coverage

## enviriments
.env

## orm
ormconfig.json