<!DOCTYPE html>

<html>
  <head>
    <style>
      .container{
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span{
        margin: 10px 0;
        display: block
      }
    </style>
  </head>

  <body>
    <div class="container">
      <span>Hi, {{name}}</span>

      <br/>

      <span>You have requested a password recovery.</span>
      <span>
        To perform recovery, click on the link:
        <a href={{link}}>{{link}}</a>
      </span>
      
      <span>If you didn't request password recovery, just ignore this email.</span>

      <strong>Thanks!</strong>

      <h3>Team | <strong>TakeACar</strong></h3>

    </div>
  </body>
</html>